@import 'var';
@import 'mixins';
#title {
    padding: 30px;
    font-size: 50px;
    color: $deepblue;
    text-align: center;
}
.node{
    fill: #888888;
    stroke: #fff;
    stroke-width:1px;
    font-size: .6em;
}

.link{
    stroke: #cccccc;
    stroke-opacity: .6;
}